
		<!-- Help container for site not mobile friendly yet -->
		
									<div class="related-container">
											<div class="related" id="related">
												  <div class="inner group">
													<h2 id="parent-section">Help</h2>
													
													
													<p>Need technical help with this service? Call Land Registry on 0300 006 0411
															or <a href="http://landregistry.custhelp.com/app/contactus_general/"> report a problem.</a></p>
													
															<nav role="navigation" aria-labelledby="parent-section">
															
	
															
																	  <ul>

																	  			<li>
																	  			<a href="https://www.gov.uk/government/organisations/land-registry/about/personal-information-charter">Personal Information Charter</a>
																	  			</li>
																				<li>
																				  <a href="https://www.gov.uk/government/organisations/land-registry">About Land Registry</a>
																				</li>
																				
											
																	  </ul>
															</nav>
															
																
															
												  </div>
											</div>
									 </div>