
		<!-- Help container for site not mobile friendly yet -->
		
									<div class="related-container">
											<div class="related" id="related">
												  <div class="inner group">
													<h2 id="parent-section">Help</h2>
													
														<nav role="navigation" aria-labelledby="parent-section">
													<p>Need technical help with this service? Call Land Registry on 0300 006 0411
															or <a href="http://landregistry.custhelp.com/app/contactus_general/"> report a problem.</a></p>
													
														
															
	
															
																	
															</nav>
															
																
															
												  </div>
											</div>
									 </div>