<!-- Help container for site not mobile friendly yet -->
<div class="related-container">
  <div class="related" id="related">
      <div class="inner group">
        <h2 id="parent-section">Help with this service?</h2>
        <nav role="navigation" aria-labelledby="parent-section">
          <p>Call 0300 006 0411. Lines are open Monday to Friday, 8:30am to 5:00pm.</p>
          <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
        </nav>
      </div>
  </div>
</div>