// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';
@import 'patterns/code-input';
@import 'patterns/dialogs';

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// Digital Mortgage custom styles
.verified-container {
  margin-top:30px;
}

.verified-bullets {
  padding-left:60px;
  margin-bottom:30px;
}

.verified-bullets-img {
  float: left;
}

.deed-document--bounds {
  margin-top: $gutter;
  margin-bottom: $gutter;
  padding: 0 $gutter $gutter $gutter;
  border-color: $light-blue;
  border-width: 3px 2px;
  border-style: solid;
  max-width:30em;
}

dl.definition-inline {

  @extend %contain-floats;

  dt {
    clear: left;
    float: left;
  }
  dt:after {
    content: ':';
    margin-right: $gutter-one-quarter;
  }
  dd {
    float: left;
  }
}

.deed-form-ref {
  margin-top: ($gutter*2);
}



.spacer_20 {
  clear: both;
  height: 20px; }


.spacer_50 {
  clear: both;
  height: 50px; }



.related {
    border-top: 10px solid #005ea5;
    padding-top: 5px;
}

.related h2 {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    color: #0b0c0c;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    position: relative;

    }


.related-container {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 40px;
    }


    .related ul {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



    .related li a {
    background-position: 0 -287px;
    background-repeat: no-repeat;
    display: block;
    line-height: 1.25em;
    orphans: 2;
}


