{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
	<!--
		<link href="/public/stylesheets/shame-v4-2.css" media="screen" rel="stylesheet" type="text/css" />
	-->
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block page_title %}
  Confirm your mortgage deed
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">Sign your mortgage deed</h1>

			<p class="bold-small">
				A new authentication code has been sent to your mobile.
			</p>

			<p class="panel panel-border-wide">
				This may take a few minutes to arrive depending on the mobile signal in
				your area.
			</p>

			<form class="form" action="signing-mortgage-deed">
				<div class="form-group">
					<label class="heading-medium" for="auth_code">
						Enter your authentication code
						<span class="form-hint">For example, C6E78A</span>
					</label>
					<input type="text" class="form-control" id="auth_code" name="auth_code">
				</div>
				<div class="form-group">
					<input class="button" type="submit" value="Sign mortgage">
				</div>
			</form>

			<div class="form-group">
				<p><a href="resend-authentication-code">Request a new authentication code<a/></p>
			</div>

		</div>
	</div>

</main>

{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
	<!--
	<script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
-->
{% endblock %}
