{% extends "layout.html" %}

{% block page_title %}
  Your mortgage deed
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_beta.html" %}
	<a href="how-to-proceed" class="link-back">Back</a>

	<div class="grid-row">
	
	<h1 class="heading-xlarge">Signature Network Access Agreement</h1>
	
	<h2 class="heading-large">Terms and conditions</h2>
	
<h2 class="heading-large">Terms of use</h2>
<p class="lede">This service can only be used to view and sign a mortgage deed, using an electronic signature supplied by the Chief Land Registrar (‘Land Registry’).</p>

<p>To use this service, you must:</p>
				<ul class="list list-bullet">
				<li>
be at least 18 years old</li>
<li>agree to keep your password and other security details safe and not share them with anyone else </li>
<li>have effective security and virus protection on the computer or device you’re using to access the service</li>
</ul>
<P>Tell Land Registry (by calling 0300 123456) if you think someone else has your security details.</p>


<p>This agreement only exists between you and Land Registry while you use this service to view and sign a mortgage deed. 
It stops automatically if you die or become bankrupt during this time.</p>
<p>Land Registry can stop providing this service at any time if it believes this action is necessary. </p>


<h2 class="heading-large">Your liability </h2>
<p>You will have to compensate Land Registry for any loss and damage it suffers as a direct result of you:</p>

				<ul class="list list-bullet">
				<li>misusing this service, either deliberately or through negligence</li>
				<li>using the service without meeting the conditions above</li>
				<li>faking or otherwise misrepresenting your identity</li>
				
				</ul>

<p>You will also have to compensate Land Registry if someone else makes a claim against it 
for loss or damage they suffer as a direct result of these actions.</p>

<h2 class="heading-large">Land Registry’s liability</h2>

<p>When you use this service, Land Registry has a duty of care or contractual obligation to you, but not anyone else. </p>
<p>Where it is at fault, Land Registry’s standard legal requirement to pay compensation for losses or damages doesn’t change.</p>
<p>There is no limit on compensation for:</p>

				<ul class="list list-bullet">
				<li>death or personal injury resulting from Land Registry’s negligence, or</li>
<li>acts or omissions it makes in bad faith</li></ul>

<p>Additionally, Land Registry will compensate you for costs and expenses you incur if it acts wrongly, provided these total more than £120 but less than £250.
<p>It doesn’t have to pay compensation for losses or damages caused by:</p>

				<ul class="list list-bullet">
				<li>
any action it takes as the official registrar, by law or which it is entitled to make according to the terms of use above</li>
<li>you breaking the terms of use above</li>
<li>loss or corruption of information on your computer or device</li>
<li>any damage caused to your computer or device as a result of you failing to provide anti-virus measures or up-to-date software</li>
<li>any damage caused by you or anyone else introducing a virus, worm or other malignant software into the service</li>
</ul>

<p>Land Registry’s employees, agents or members are not personally liable for any loss or damage you suffer.</p>


		<a href="how-to-proceed" class="link-back">Back</a>
	</div>
</main>


{% endblock %}
