{% extends "layout.html" %}

{% block page_title %}
  Your mortgage deed
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_beta.html" %}
	<a href="how-to-proceed" class="link-back">Back</a>

	<div class="grid-row">
		<h1 class="heading-xlarge">Signature Network Access Agreement</h1>
		<p class="lede">
			This Signature Network Access Agreement is required in accordance with rule 5(3) of the Land
			Registration (Network Access) rules 2008.
		</p>
		<p>
			By accepting this agreement, you are confirming and accepting the following:
		</p>

			<h2 class="heading-large">1. About you</h2>
			<p>
				You are at least 18 years of age.
			</p>

			<h2 class="heading-large">2. Security and System</h2>
			<ol>
				<li>
					You are responsible for maintaining the confidentiality of your security details supplied by the registrar
					and the identity verification service used in the electronic signing process. You must not share them with
					anyone, or allow them access intentionally, negligently or recklessly.
				</li>
				<li>
					You agree to notify the registrar immediately of any unauthorised use of your security details or any other
					breach of security of which you become aware.
				</li>
				<li>
					You maintain effective security and anti-virus measures on your Computer System.
				</li>
			</ol>

			<h2 class="heading-large">3. Signatures</h2>
			<p>
				You will apply only an electronic signature supplied by the registrar.
			</p>


			<h2 class="heading-large">4. Suspension of service</h2>
			<p>
				The registrar can suspend the network if satisfied that this may be necessary.
			</p>

			<h2 class="heading-large">5. Different terms</h2>
			<p>
				The registrar may from time to time change the terms of a signature network access agreement in accordance
				with the Rules, but this will not change the terms during a current viewing and signing session.
			</p>

			<h2 class="heading-large">6. Your liability</h2>
			If you, in connection with the network or this agreement
			<ul class="list list-bullet">
				<li>intentionally, recklessly or negligently misuse the network</li>
				<li>breach this agreement</li>
				<li>make any misrepresentation as to your identity</li>
				<li>do any negligent act, error or omission</li>
			</ul>
			<p>
				will be liable for loss and damage suffered by the registrar, and liable to indemnify the registrar in respect
				of any liability to a third party incurred by the registrar arising as a direct result (except to the extent
				that the registrar has contributed to his own or the third party’s loss).
			</p>

			<h2 class="heading-large">7. The registrar’s liability</h2>
			<p>
				7.1 The registrar has not, by entering into this agreement and making the network available, assumed any duty of
				care or contractual obligation to any third party.
			</p>
			<p>
				7.2 The registrar’s liability to pay indemnity under Schedule 8 to the Act is unaffected.
			</p>
			<p>
				7.3 No liability is created which is excluded by paragraph 4 of Schedule 7 to the Act.
			</p>
			<p>
				7.4 The registrar is not liable for inaccurate information supplied through the network, except to the extent
				provided by Schedule 8 to the Act.
			</p>

			7.5 The registrar is excluded from liability for any loss resulting from
			<ul class="list list-bullet">
				<li>
					the exercise of any right, remedy or discretion which the registrar is entitled to exercise under statutory
					authority, the general law or the terms of this agreement
				</li>
				<li>
					any failure by you to comply with this agreement or with any legal or professional obligation except to the
					extent that the failure is itself caused by a breach of this agreement or breach of duty by the registrar
				</li>
				<li>
					loss or corruption of data or records held on your computer system
				</li>
				<li>
					any damage caused to your computer system by any failure on your part to provide and maintain effective
					up-to-date measures against computer viruses, or to use the most up-to-date software and components of the
					network issued by the registrar
				</li>
				<li>
					the unauthorised alteration or modification of the whole or any part of the network or the unauthorised
					combination of the network with any other material or software by you or any third party, including in
					particular but without limitation, any loss or damage of whatsoever nature caused by the introduction of
					a computer virus, worm or software to similar effect into the network
				</li>
			</ul>

			7.6 The registrar is liable only
			<ul class="list list-bullet">
				<li>
					for any costs or expenses arising directly from any tortious act or breach of this agreement by the registrar
				</li>
				<li>
					provided the total of these costs or expenses arising directly from a particular act or breach exceeds a
					minimum sum of £120
				</li>
				<li>
					in so far as that total does not exceed a maximum sum of £250
				</li>
			</ul>

			<h2 class="heading-large">8. The liability of persons other than the registrar and you</h2>
			<p>
				All agents of the registrar and all members of the Land Registry other than the registrar are excluded from
				liability to you and third parties for loss or damage arising out of, or in connection with, this agreement
				and the use of the network.
			</p>

			<h2 class="heading-large">9. Limit on exclusions</h2>
			Clauses 7.5, 7.6 and 8 do not exclude or limit liability for
			<ul class="list list-bullet">
				<li>death or personal injury resulting from negligence, or</li>
				<li>acts or omissions done in bad faith</li>
			</ul>

			<h2 class="heading-large">10. Duration of Agreement</h2>
			<p>
				This agreement exists for the duration of your viewing and signing session (but will terminate automatically
				if you die or are made bankrupt during that time).
			</p>

			<h2 class="heading-large">11. Definitions</h2>
			<p>
				Act - Land Registration Act 2002.
			</p>
			<p>
				Network - The electronic communications network provided in accordance with section 92 of the Act.
			</p>
			<p>
				Security details - Any codes, pins, passwords, logon names, private keys or other data supplied to you for
				security or signing purposes connected with the use of the network.
			</p>
			<p>
				The registrar - The Chief Land Registrar.
			</p>
			<p>
				Your computer system - Your computer hardware and software and other computing resources and information technology infrastructure.
			</p>
		</ol>

		<a href="how-to-proceed" class="link-back">Back</a>
	</div>
</main>


{% endblock %}

{% block body_end %}
  {{ super() }}
  <script src="/public/javascripts/dialog-trigger.js"></script>
{% endblock %}
