{% extends "layout.html" %}

{% block page_title %}
  View your mortgage deed
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_beta.html" %}

	{% include "dialogs/variant-1.html" %}
	{% include "dialogs/variant-2.html" %}
	{% include "dialogs/variant-3.html" %}


	<style>

	dialog {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
	}

.dialog-box-highlight {
   /* margin: 1em 0 1em 0;
    padding: 1em 0 1em 0;
    margin:0.5em;
    padding:0.5em;*/
    padding:0.5em;
    color: #fff;
    background: #28a197;
    text-align: left;

}


.box-highlight {
   /* margin: 1em 0 1em 0;
    padding: 1em 0 1em 0;
    margin:0.5em;
    padding:0.5em;*/
    padding:0.5em;
    color: #fff;
    background: #28a197;
    text-align: left;

}

#dialog-title{

    margin:15px 0;
}



.close {
	   color: #aaaaaa;
  position: absolute;
   float: right;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}



	</style>

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">Sign your mortgage deed</h1>


			{% if (session.mode == 'fifth-effective' or session.mode == 'sixth-effective') %}
			<p>To do this you will need:</p>

				<ul class="list list-bullet">
					<li>to verify your identity using GOV.UK verify</li>
					<li>your mobile phone registered with the conveyancer</li>
					<li>the borrower reference supplied to you by the conveyancer. You may be asked for your borrower reference number
					(sent in the email inviting you to use this service).</li>
				</ul>

			{% elseif (session.mode == 'fourth-test' or session.mode == 'second') %}

				<p>To do this you will need:</p>
					<ul class="list list-bullet">
						<li>to verify your identity using GOV.UK verify</li>
						<li>your mobile phone registered with the conveyancer</li>
						<li>the borrower reference supplied to you by the conveyancer. You may be asked for your borrower reference number
						(sent in the email inviting you to use this service).</li>

					</ul>

			{% else %}

			<p>To do this you will need:</p>
					<ul class="list list-bullet">
						<li>to verify your identity using GOV.UK verify</li>
						<li>your mobile phone registered with the conveyancer</li>
						<li>the borrower reference supplied to you by the conveyancer. You may be asked for your borrower reference number
						(sent in the email inviting you to use this service).</li>
						<!--li>to have identification documents such as Passport, Driving Licence, ID card ready</li-->
					</ul>

			<div class="font-xsmall panel panel-border-wide">
				<p>
					
					
					Land Registry will retain and may share your personal details for fraud prevention and detection purposes. Land Registry may also carry out third party checks in relation to the information supplied. 
						<a href="https://www.gov.uk/government/organisations/land-registry/about/personal-information-charter">personal information charter.</a>
				</p>

			</div>

			<br/>

					{% endif %}

			<p>

			<a href="{{data.verifyUrl}}" class="button button-start" role="button">Start now</a>

			</p>


			<details>
				<summary>
					Why is the government involved in this?
				</summary>
				<p> 	<a href="https://www.gov.uk/government/organisations/land-registry/about" rel="external">Land Registry</a> records any change to the ownership of registered land or property - this includes changes to mortgages and leases.
				</p>
			</details>


		</div>
	</div>
</main>

{% endblock %}

{% block body_end %}
  {{ super() }}

  <script src="/public/javascripts/dialog-trigger.js"></script>


	<script>
		(function() {
	  // var demoDialog = document.getElementById('demoDialog');

	  // dialogPolyfill.registerDialog(demoDialog);

		// document.querySelector('#close').onclick = function() {
		// 	demoDialog.close();
  // 	};

	})();
	</script>

{% endblock %}
