{% extends "layout.html" %}

{% block page_title %}
  Your mortgage deed
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_beta.html" %}
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">Terms of use</h1>

			<p>
				Before you can sign your mortgage deed you will need to agree to the Land Registry's terms of use
				set out in our Signature Network Access Agreement.
			</p>

			<form action="mortgage-deed">
				<label class="block-label" for="terms">
					<input id="terms" name="terms" type="checkbox" value="terms">
					I have read and agree to the <a href="naa" target="_blank" rel="external">Network Access Agreement</a>
				</label>
				<div class="spacer_20"></div>
				<button class="button" id="btn">Continue</button>
			</form>
		</div>
	</div>
</main>

{% endblock %}

{% block body_end %}
	{{ super() }}

	<script>

		var button = $('#btn');
		var terms = $('#terms')

		button.attr('disabled', 'disabled');

		terms.on('change', function(e) {
			if(terms.is(':checked')) {
				button.removeAttr('disabled');
			} else {
				button.attr('disabled', 'disabled');
			}
		});


	</script>

  <script src="/public/javascripts/dialog-trigger.js"></script>

{% endblock %}
