{% extends "layout.html" %}

{% block page_title %}
  Mortgage Deed viewed
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

	<div class="grid-row">
	
				<div class="column-two-thirds">
				
				<div class="dialog-box-highlight">
					<div class="notice">
									<i class="icon icon-important" style="float:left;">
												<span class="visuallyhidden">Warning</span>
									 </i>
									 
									  <strong class="heading-medium" id="dialog-title"> {{data.company}}  
									  has updated the deed</strong>
							
					</div>
				  	</div>
					
						<!--a href="#" id="close" class="close"></a-->
					    <div class="spacer_20"></div>
															
									  <p>You will not be able to proceed further
										  and will need to contact {{data.company}}.
									  </p>
						 
															  
						   <div class="spacer_20"></div>
											 <a href="sign-my-mortgage" class="button" style="float:left;">Return to start page</a>
						   <div class="spacer_20"></div> 
				
					
					
				
    	
  </div>
</main>

{% endblock %}
