{% extends "layout.html" %}

{% block page_title %}
  Mortgage Deed viewed
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
<!-- Only used if conveyancer alters DOB / Address change overrules variant 3 -->
	<div class="grid-row">
	
				<div class="column-two-thirds">
				    <div class="spacer_20"></div>
				        <div class="spacer_20"></div>
						<div class="a-box-highlight">
								<div id="dialog-title" class="notice">
												<i class="icon icon-important" style="float:left;">
															<span class="visuallyhidden">Warning</span>
												 </i>
												 
												  <strong class="heading-medium" id="dialog-title">{{data.company}}
          has updated your details</strong>
								</div>
							</div>
					
						<!--a href="#" id="close" class="close"></a-->
					    <div class="spacer_20"></div>
															
									   <p>You will need to start the process again.</p>
          </p>

						 
															  
						   <div class="spacer_20"></div>
											 <a href="sign-my-mortgage" class="button" style="float:left;">Start again</a>
						   <div class="spacer_20"></div> 
				
					
					
				
    	
  </div>
  
  <style>
  .a-box-highlight {
    color: #fff;
    background: #28a197;
    text-align: left;
    padding:0.5em;
}

#dialog-title{

    margin:30px 0;
}

	.notice-title { 
	margin: 0em;
	padding: 0.5em;
	} 

</style>
  
  
</main>

{% endblock %}
