{% extends "layout.html" %}

{% block page_title %}
  Code inputs demo
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Code inputs</h1>

      <div class="form-group">
        <label class="form-label-bold" for="code-input-1">Code input</label>
        <p class="form-hint">Note: <code>size</code> and <code>maxlength</code> must be set on the input element</strong></p>

        <div class="code-input">
          <input type="text" class="form-control" id="code-input-1" name="code-input-1" size="6" maxlength="6" placeholder="######">
          <span class="mask">
            <span class="dash"></span>
            <span class="dash"></span>
            <span class="dash"></span>
            <span class="dash"></span>
            <span class="dash"></span>
            <span class="dash"></span>
          </span>
        </div>
      </div>

    </div>
  </div>
</main>

{% endblock %}
