$code-input-spacing: 2em;

.code-input {
  font-family: monospace;
  letter-spacing: $code-input-spacing;
  margin-top: $gutter;

  .form-control {
    margin-left: $code-input-spacing / 4;
    border: 0;
    font-family: inherit;
    letter-spacing: inherit;
    width: 600px;
    font-size: inherit;

    &:focus {
      outline: 0;
    }
  }

  .mask {
    letter-spacing: 0;
    display: block;
    line-height: 1px;
    height: 1px;
  }

  .dash,
  .space {
    display: inline-block;
    width: $code-input-spacing;
    letter-spacing: 0;
    height: 1px;
    line-height: 1px;
  }

  .dash {
    border-top: 1px solid black;
  }

  &.code-input-focused {
    .dash {
      border-color: $yellow;
      border-top-width: 3px;
    }
  }
}
