{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block page_title %}
  Mortgage Deed viewed
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

	<div class="grid-row">
    <div class="column-two-thirds">
  		<div class="govuk-box-highlight">
  			<h1 class="bold-large">
          Thank you for signing your mortgage deed
        </h1>

  		</div>

  		<h2 class="heading-medium">What happens next?</h2>
  		
  		<ul class="list list-bullet">
  			<li>
  				If you are borrowing money with other people, they will need to sign the mortgage deed if they haven't already done this
  			</li>
  			<li>
  				Once all borrowers have signed the mortgage deed, the conveyancer will be notified so that they can continue to do the legal work needed for your mortgage
  			</li>
  			<li>
  				Land Registry will update your title register to include the new
          mortgage when requested by the conveyancer
  			</li>
  		</ul>
  		<p>
  			The time this takes will vary depending on the arrangements between you and your lender and the conveyancer.
  		</p>

  		
  		
  		<div class="division-standard-top">
				<p><a href="mailto:info@thelandregistry.co.uk">How could we improve this service?</a></p>
				<p><a href="https://www.gov.uk/government/organisations/land-registry">More about the Land Registry</a></p>
  		</div>
    </div><!-- column-two-thirds -->
  </div>
</main>

{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
	<!--
	<script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
-->
{% endblock %}
