{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block page_title %}
  Your mortgage deed
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">
		{% include "includes/phase_banner_beta.html" %}
		<h1 class="heading-xlarge">Your mortgage deed</h1>

		<div class="notice">
		  <i class="icon icon-important">
			<span class="visuallyhidden">Warning</span>
		  </i>
		  <strong class="text bold-small">
			This is an important legal document. <br/> YOUR HOME MAY BE REPOSSESSED IF YOU DO NOT KEEP UP REPAYMENTS ON YOUR MORTGAGE.<br/>  You should consider
			taking independent legal advice from a conveyancer or other legal
			adviser before you sign this mortgage deed.
		  </strong>
		</div>

			<article class="text deed-document--bounds">

				<h2 class="heading-large">Digital Mortgage Deed</h2>

				<h3 class="heading-medium">Property</h3>

				<p itemscope itemtype="http://schema.org/PostalAddress">
					<span itemprop="streetAddress">83 Lordship Park<br>
					</span>
					<span itemprop="addressLocality">London</span><br>
					<span itemprop="postalCode">N16 5UP</span>
				</p>

				<dl class="definition-inline">
					<dt class="bold-small">Title number</dt>
					<dd>GHR67832</dd>
				</dl>

				<h3 class="heading-medium">Lender</h3>

				<p itemscope itemtype="http://schema.org/Corporation">
					<span itemprop="name">Bank of England Plc</span><br>
					<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="address-inline">
						<span itemprop="streetAddress">12 Trinity Place, Regents Street,</span>
						<span itemprop="addressLocality">London</span>
						<span itemprop="postalCode">NW10 6TQ</span>
					</span>
				</p>

				<dl class="definition-inline">
					<dt>Company registration number</dt>
					<dd>2347676</dd>
				</dl>

				<h3 class="heading-medium">Borrower</h3>

				<ul>
					<li class="bold-small">Peter Smith</li>
					<li class="bold-small">Ann Smith</li>
				</ul>

				<h3 class="heading-medium">Charging clause</h3>
				<p>The borrower, with full title guarantee, charges to the lender the property by way of legal mortgage with payment of all money secured by the charge.</p>

				<h3 class="heading-medium">Additional provisions</h3>
				<ol class="list list-number">
				  <li>
					<p>This Mortgage Deed incorporates the <!--<a href="#" rel="external">-->Lenders Mortgage Conditions and Explanation 2006<!--</a>-->, a copy of which the borrower has received.</p>
				  </li>
				  <li>
					<p>The lender is obliged to make further advances and applies for the obligation to be entered in the register.</p>
				  </li>
				  <li>
					<p>The borrower applies to enter a restriction in the register that no disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the charge dated <!--[the date of this charge]--> 27th July 2016 in favour of Bank of England Plc referred to in the charges register.</p>
				  </li>
				</ol>

				<h3 class="heading-medium">Effective date</h3>
				<p>This charge takes effect when the registrar receives notification from <!--[name of conveyancer preparing the charge]-->the conveyancer preparing the charge that the charge is to take effect.</p>

				<p style="color: #6f777b;">[Effective date will be shown here]</p>


					<h3 class="heading-medium">Borrower's digital signature(s)</h3>

					<p style="color: #6f777b;">[Awaiting signing from Ann Smith]</p>

				<p style="color: #6f777b;">[Awaiting signing from Peter Smith]</p>

					<!-- <div class="deed-form-ref deed-document--divider"> -->
			<div class="deed-form-ref">
				<h3 class="visuallyhidden">Form of digital mortgage deed filed at HM Land Registry under reference</h3>
				<p>e-MD1118</p>
			</div>

			</article>

		</div>

		<div class="inner-block">
			<div class="text">
				<p>
					If you’re ready to sign your mortgage deed, we’ll send you an authentication code which you’ll
			need to enter on the next screen.
				</p>
		 
				<p>
			If you do not wish to sign the mortgage deed (for instance if you think
			there is a mistake or you want further explanation) you should contact
			{% if session.mode == 'first' %}
			{{data.company}}
			{% endif %}
			{% if session.mode == 'second' %}
			{{data.companyb}}
			{% endif %},
			
			
			
			or take independent legal advice..
				</p>
				<h2 class="heading-medium">Receiving your authentication code</h2>
				<p>
					We will be sending your authentication code by text message to your
					mobile number ending <span class="bold-small">0546</span>.
				</p>
				<a href="enter-authentication-code" class="button">Send my code</a>
			</div>
		</div>
	</div>
</main>

{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
	<!--
	<script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
-->
{% endblock %}
