<dialog id="variant-2" class="demoDialog">


<!-- Only used if conveyancer alters DOB / Address change overrules variant 3 -->

<div class="dialog-box-highlight">
    <div class="notice">
        <i class="icon icon-important" style="float:left;">
              <span class="visuallyhidden">Warning</span>
         </i>

          <strong class="heading-medium" id="dialog-title"> {{data.company}}
          has updated your details</strong>

    </div>

</div>

    <!--a href="#" id="close" class="close"></a-->
    <div class="spacer_20"></div>

          <p>You will need to start the process again.</p>


     <div class="spacer_20"></div>
             <a href="sign-my-mortgage" class="button" style="float:left;">Start again</a>
     <div class="spacer_20"></div>


</dialog>
