<dialog id="variant-3" class="demoDialog">


<!-- Overruled by variants 1,2 -->

<div class="dialog-box-highlight">
			<div class="notice">
				<i class="icon icon-important" style="float:left;">
					  <span class="visuallyhidden">Warning</span>
				 </i>
		
				 
				 
					<div class="spacer_20"></div>
				  <strong class="heading-medium" id="dialog-title"> {{data.company}}
				  has updated the content of the deed</strong>
			</div>

</div>

      <div class="spacer_20"></div>
    <!--a href="#" id="close" class="close"></a-->
  
             <a href="sign-my-mortgage" class="button" style="float:left;">View</a>
     <div class="spacer_20"></div>


</dialog>
