{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}

  <style type="text/css">
  .button-disabled {
  	opacity: 0.5;
  }
  </style>
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block page_title %}
  View your mortgage deed
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

	<div class="grid-row">
		<div class="column-two-thirds">
			<!--h1 class="heading-xlarge">Welcome to the digital mortgage signing service</h1-->
			<!--h2 class="heading-xlarge">Identity verified</h1-->
			<h2 class="heading-xlarge">Details</h1>
				<p>
			<h2>	<span class="heading-small" style="color: #85994B; font-style:bold;">Success - Identity verified!</span></h2
			</br>
			</p>

			{% if session.mode == 'first' %}
				<!--p class="bold-xsmall" style="color:red">Prototype is in "first time" mode</p-->
				<p><span class="font-small">First Applicant:</span> 
				<span style="font-weight:bold">{{data.fname}}</span></p>
				<p> 
				<span class="font-small">Second Applicant:</span> 
				<span style="font-weight:bold">{{data.mname}} </span>
				<span class="font-small" style="color: #005EA5;  font-style:italic; font-style:bold;">
				&nbsp;Awaiting signature
				</span></p>
				
				
				<p> <!--span class="font-small">Represented by: </span--> 
				<span class="font-small">Arranged by: </span> 
				<span style="font-weight:bold"> 
				{{data.company}}
				</span>
				</p>
				
			{% endif %}

			{% if session.mode == 'second' %}
				<!--p class="bold-xsmall" style="color:red">Prototype is in "second time" mode</p-->
				<p>
				<span class="font-small">First Applicant:</span> 

				<span style="font-weight:bold"> 
				{{data.fname}}
				</span>
				
				<span style="color: #005EA5; font-style:italic; font-weight:bold">
				&nbsp;Signed
				</span>
				</p>	
	
	
	
	<p> 
		<span class="font-small" >Second Applicant:</span> 
		<span style="font-weight:bold" > {{data.mname}}</span> 
		<span class="font-small" style="color: #005EA5;  font-style:italic; font-style:bold;">
				&nbsp;Awaiting signature</span>
				</p>
				
				<p>
				<span class="font-small">Arranged by: </span>
				<span style="font-weight:bold">{{data.companyb}} </span>
				</p>
			{% endif %}
				<br />
				
				
				{% if session.mode == 'something-else' %}
			
				<p>
				<span class="font-small">First Applicant:</span> 
				
				<span style="font-weight:bold"> 
				{{data.fname}}
				</span>
				
				<span style="color: #005EA5; font-style:italic; font-weight:bold">
				&nbsp;Awaiting signing
				</span>
				</p>	
				
				
				<p>
				<span class="font-small">Arranged by: </span>
				<span style="font-weight:bold">{{data.companyb}} </span>
				</p>
	
			{% endif %}
				<br />

			<p>
				Now you have verified your identity you can view and digitally sign the online version of your mortgage deed.
				You should:
			</p>
			
		

			<form action="mortgage-deed">
				<div class="verified-container">
					<ol>
						<li id="naa-agree">
	
							<div>
								<h3 class="heading-small">Agree to the Land Registry's terms and conditions for this service</h3>
								<div class="form-group">
									<label class="block-label" for="terms">
										<input id="terms" name="session[terms]" type="checkbox" value="terms"{% if session.terms%} checked{% endif %}>
										I agree to the terms and conditions set out in the <a href="naa">Network Access Agreement</a>
									</label>
								</div>
								<div class="spacer_20"></div>
							</div>
						</li>

					
					</ol>
				</div>

				<div class="spacer_20"></div>
				<button class="button" id="btn">Continue</button>
			</form>
		</div>
	</div>
</main>

{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
	<!--
	<script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
-->

<script>

		var button = $('#btn');
		var terms = $('#terms');
		var message = $('<p class="error">Please <a href="#naa-agree">indicate that you agree</a> to the terms and conditions set out in the Network Access Agreement</p>');

		message.find('a').on('click', function(e) {
			e.preventDefault();

			var body = $('html, body');
			body
				.stop()
				.animate({
					scrollTop:$('#naa-agree').offset().top
				}, 250, function() {
					terms.closest('label').focus();
				});
		});

		function updateButton() {
			if(terms.is(':checked')) {
				button.removeClass('button-disabled');
			} else {
				button.addClass('button-disabled');
			}
		}

		function updateError() {
			if(terms.is(':checked')) {
				terms.closest('.form-group').removeClass('error');
				message.remove()
			} else {
				terms.closest('.form-group').addClass('error');
				button.before(message);
			}
		}

		terms.on('change', function(e) {
			updateButton();
			updateError();
		});


		button.closest('form').on('submit', function(e) {
			if(!terms.is(':checked')) {
				e.preventDefault();
			}
			updateButton();
			updateError();
		});

		updateButton();

	</script>



{% endblock %}
