{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block page_title %}
  Your session has timed out
{% endblock %}

{% block content %}

<main id="wrapper" role="main">

  <div id="content">
    {% include "includes/phase_banner_beta.html" %}

    <div class="inner-block">

      	<h1 class="heading-xlarge">Technical issues with service</h1>

		    <p class="text">
            We are unable to process your request at this time. This was not due to any mistake on your part,
            but because the service encountered technical issues.</p>
            
             <p class="text">
             Please wait a few minutes and then try again
             </p>
            
            <p class="text">
		    If you continue to experience this error please <a href="http://landregistry.custhelp.com/app/contactus_general/">contact us.</a>
        </p>

        <p class="text">
            You’ll need to <a href="../sign-my-mortgage">start again</a>.
        </p>

    </div>

  </div>

</main>

{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
{% endblock %}
