{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block page_title %}
  Digital Mortgage Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">Dialog trigger</h1>
  
  <h2> Name Change </h2>
  <button class="button" data-dialog-trigger="variant-1">Variant1</button>
  <p></p>
  <h2> DOB / Address Change </h2>
  <button class="button" data-dialog-trigger="variant-2">Variant2</button>
   <p></p>
  <h2>View overruled by variant 1,2</h2>
  <button class="button" data-dialog-trigger="variant-3">Variant3</button>

    <p></p>
<h2> Name Change </h2>
  <button class="button" data-redirect-trigger="/version-5-1-2j/Update-mortgage-deed1">Update-mortgage-deed1</button>
  <p></p>
    <h2> DOB / Address Change </h2>
  <button class="button" data-redirect-trigger="/version-5-1-2j/Update-mortgage-deed2">Update-mortgage-deed2</button>
    <p></p>
   <h2>View overruled by variant 1,2</h2>
  <button class="button" data-redirect-trigger="/version-5-1-2j/Update-mortgage-deed3">Update-mortgage-deed3</button>
</main>

{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}


  <script>
    $('[data-dialog-trigger]').on('click', function(e) {
      $.post('/dialog-trigger', {
        dialog_id: $(this).data('dialog-trigger')
      })
    })

    $('[data-redirect-trigger]').on('click', function(e) {
      $.post('/redirect-trigger', {
        redirect_destination: $(this).data('redirect-trigger')
      })
    })
  </script>
{% endblock %}
