{% extends "layout.html" %}

{% block page_title %}
  Confirm your mortgage deed
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">Sign your mortgage deed</h1>
			<p style="background: #F8F8F8;
					border: 1px solid #0b0c0c;
					padding: 18px 30px 15px 54px;
					margin-bottom: 10px;"
    			class="notice">
				 <i class="icon icon-information" style="left:10px;">
					<span class="visuallyhidden">Warning</span>
				  </i>
				<span class="bold-small">A new authentication code has been sent</span> to your mobile number ending in <span class="bold-small">+44 7700 900640</span>.
					This may take a few minutes to arrive depending on the mobile signal in your area.
			</p>

		  <br />
			<div class="text">
			<div class="notice">
		    <span class="bold-small">
			Warning:  </span>

			<span class="text">By entering your authentication code and clicking 'Sign mortgage deed',
			you will be applying your digital signature</span>.

		</div>
	  <br />
			<form class="form" action="signing-mortgage-deed">
			<fieldset>
												<div class="form-group">
													<label class="heading-medium" for="auth_code">
														 Enter your authentication code
														<span class="form-hint" >Complete the signing of your mortgage deed by entering the authentication code for example 'C6E78A'</span>
													</label>


													{% if session.code_input == 'hashes-single' %}

															<div class="code-input">
																<input type="text" class="form-control" id="auth_code" name="auth_code" size="6" maxlength="6" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="######" spellcheck="false">
																<span class="mask">
																	<span class="dash"></span>
																	<span class="dash"></span>
																	<span class="dash"></span>
																	<span class="dash"></span>
																	<span class="dash"></span>
																	<span class="dash"></span>
																</span>
															</div>

														{% elseif session.code_input == 'hashes-double' %}

															<div class="code-input code-input-spaced">
																<input type="text" class="form-control" id="auth_code" name="auth_code" size="7" maxlength="7" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="### ###" spellcheck="false">
																<span class="mask">
																	<span class="dash"></span>
																	<span class="dash"></span>
																	<span class="dash"></span>
																	<span class="space"></span>
																	<span class="dash"></span>
																	<span class="dash"></span>
																	<span class="dash"></span>
																</span>
															</div>

														{% elseif session.code_input == 'asterisks-double' %}

															<div class="code-input code-input-spaed">
																<input type="text" class="form-control" id="auth_code" name="auth_code" size="7" maxlength="7" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="*** ***" spellcheck="false">
																<span class="mask">
																	<span class="dash"></span>
																	<span class="dash"></span>
																	<span class="dash"></span>
																	<span class="space"></span>
																	<span class="dash"></span>
																	<span class="dash"></span>
																	<span class="dash"></span>
																</span>
															</div>

														{% else %}

															<input type="text" class="form-control" id="auth_code" name="auth_code">


														{% endif %}

												</fieldset>

											</div>
											<div class="form-group">
													<input class="button" type="submit" value="Sign mortgage deed">
												</div>
											</form>


												<form class="form" action="resend-authentication-code">
													<fieldset>
														<div class="form-group">
															<p><strong class="text bold-small">
																	Authentication Code not arrived?

															</strong></p>
														<input class="button" type="submit" value="Send new code">
													</div>
													</fieldset>
												</form>
										</div>

	<div class="column-one-third">
		<!-- Help container for site not mobile friendly yet -->
									 {% include "includes/john.html" %}

		</div>


</div>
</main>

{% endblock %}

{% block body_end %}
  {{ super() }}
  {% include "dialogs/all.html" %}
{% endblock %}
