{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block page_title %}
  Digital Mortgage Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	<h1 class="heading-xlarge">Sign your Mortgage<br>Prototype</h1>

	<hr>

	<h1 class="heading-xlarge">Digital mortgage prototypes v5.1</h1>

	<p>
		Detailed amendments are listed in the <a href="https://docs.google.com/spreadsheets/d/1cK6sUBa7G-JOkCTudZmMR8LYDDpLe-okgY1zUdmHtZs/edit#gid=1425960152">change log</a>
	</p>

	<p>
		Tips: Don't forget to turn on incognito mode when testing.
	</p>

	<div class="spacer_20"></div>

	<table class="custom_1">
		<tr>
			<th width="12%" class="table_text_black">Version</th>
			<th width="10%" class="table_text_black">Date</th>
			<th width="30%" class="table_text_black">What's new</th>
			<th width="40%" class="table_text_black">What's changed</th>
		</tr>

		
		<tr>
			<td style="vertical-align: top">
				<h2 class="bold-xsmall">v5.1.2g</h2>
				<a href="/version-5-1-2g/sign-my-mortgage?session[mode]=first">Multiple Borrowers first tiime user of verify.</a><br><br>
				<a href="/version-5-1-2g/sign-my-mortgage?session[mode]=second">Multiple Borrowers Second time logged in user of verify.</a><br><br>
				<a href="/version-5-1-2g/sign-my-mortgage?session[mode]=something-else">Single borrowers - first time only</a><br><br>
			</td>
				<td valign="top"></td>
			<td valign="top">
			<li> Updates following research findings for November</li>
			
			
			</td>
			<td valign="top">
				<li>S377 - Change wording to Borrower journey - Contact Conveyancer</li>
			</td>
			
		</tr>
		
		
		
		
		
		
		<tr>
			<td style="vertical-align: top">
				<h2 class="bold-xsmall">v5.1.2f</h2>
				<a href="/version-5-1-2f/sign-my-mortgage?session[mode]=first">First time user of verify, signing with multiple borrowers.</a><br><br>
				<a href="/version-5-1-2f/sign-my-mortgage?session[mode]=second">Second time existing user of verify, signing with multiple borrowers.</a><br><br>
				<a href="/version-5-1-2f/sign-my-mortgage?session[mode]=something-else">Working Status: Not used in Lab</a><br><br>
			</td>
				<td valign="top"></td>
			<td valign="top">
			<li> Updates following research findings for October</li>
			
			</td>
			<td valign="top">
				<li>Removed text based steps on identity verified page (request by SE), Removed static Conveyancer name (SE), Removed text for multiple borrowers (request by SE), Added in dynamic placeholders for conveyancer / multiple borrowers.
				Prototype now contains 'modes to reflect multiple borrower or single borrower journey's which can also be created for different scenario's. Added in relevant PDF document where one borrower has signed, second awaiting signature.
				Added in relevant PDF Document for Multiple Borrowers so both Borrowers have signed</li>
			</td>
			<td valign="top">
				<ul>

				</ul>
			</td>
		</tr>

		<tr>
			<td style="vertical-align: top"><a href="/version-5-1-2e/sign-my-mortgage">v5.1.2e</a></td>
			<td valign="top"></td>
			<td valign="top">
				<li> Updates following research findings for September</li>
			</td>
			<td valign="top">
				<ul>
					Improvements to wording, Session added in to NAA tick box so tick stays in the box no tick but click on button causes error message, SMS Code page updated asthetics and wording,
					Link to LR contact page to replace info@ due to usability issues with some test subjects.
				</ul>
			</td>
		</tr>


			<tr>
			<td style="vertical-align: top"><a href="/version-5-1-2d/sign-my-mortgage">v5.1.2d</a></td>
			<td valign="top"></td>
			<td valign="top">
				<li> Updated</li>
			</td>
			<td valign="top">
				<li>Update US361 - Refer to borrower reference on landing page </li>
			</td>
		</tr>



		<tr>
			<td style="vertical-align: top"><a href="/version-5-1-2c/sign-my-mortgage">v5.1.2c</a></td>
			<td valign="top"></td>
			<td valign="top">
				<li> Updated</li>
			</td>
			<td valign="top">
				<li>Updates following research findings for August </li>
			</td>
		</tr>

		<tr>
			<td style="vertical-align: top"><a href="/version-5-1-2b/sign-my-mortgage">v5.1.2b</a></td>
			<td valign="top"></td>
			<td valign="top">
				<li> Updated</li>
			</td>
			<td valign="top">
				<li>enter-authentication-code with warning text to be inline with production 02</li>
			</td>
		</tr>



		<tr>
			<td style="vertical-align: top"><a href="/version-5-1-2a/sign-my-mortgage">v5.1.2a</a></td>
			<td valign="top"></td>
			<td valign="top">
				<li> User tests - NAA, T & C's</li>
			</td>
			<td valign="top">
				<li>User tests - Full verify flow</li>
			</td>
		</tr>


		<tr>
			<td style="vertical-align: top"><a href="/version-5-1/sign-my-mortgage">v5.1</a></td>
			<td valign="top"></td>
			<td valign="top">
				<li>Addition of NAA point and NAA page</li>
			</td>
			<td valign="top">
				<li>Minimised the length of the verify flow</li>
			</td>
		</tr>
	</table>

	<div class="spacer_50"></div>

	
	
	
	
	
	
	<hr>

	
	<details>
		<summary class="heading-medium">Digital mortgage prototypes v4.6 - deprecated</summary>
	<h1 class="heading-xlarge">Digital mortgage prototypes v4.6</h1>

	<p>
		If you want to see a list of changes for this version of each of the following prototypes
		<a href="https://docs.google.com/spreadsheets/d/1YuBWmAsot8kfKt5eYWoEZiSlSvh7Aa5RQdu6bMG_tHs/edit#gid=0">click here</a>
	</p>

	<details>
		<summary class="heading-medium">I want to see the end vision for the service</summary>
		<ul>
      <li><a href="/service_vision">Prototype for service vision</a></li>
    </ul>
	</details>

	<details>
		<summary class="heading-medium">I want to see the user research prototype</summary>
		<ul>
			<li><a href="/user_research">Prototype for user research</a></li>
		</ul>
	</details>

	<details>
		<summary class="heading-medium">I want to see prototypes for what is in development</summary>
		<ul>
			<li><a href="/future_sprints">Prototype for future sprints</a></li>
			<li><a href="/current_sprint">Prototype for current sprint</a></li>
		</ul>
	</details>

	<details>
		<summary class="heading-medium">I want to see previous prototype versions</summary>
		<div class="text">
			<p>
				You can view the code for previous versions of the protoype by switching to
				the appropriate branch on github. If you would like to see it running then
				speak to your friendly designer =)
			</p>
		</div>
	</details>
	
	</details>

</main>

{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
{% endblock %}
