{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}

  <style type="text/css">
  	.header-wrapper,
  	#content,
  	#global-header-bar {
  		max-width: 80%!important;
  		padding: 0 30px;
  	}
  </style>
{% endblock %}

{% block page_title %}
  Digital Mortgage Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	<h1 class="heading-xlarge">Sign your Mortgage<br>Prototype</h1>

	<hr>

	<h1 class="heading-xlarge">Digital mortgage prototypes</h1>
  <h4 class="heading-small">(Using GDS Prototype kit v5.1)</h4><br>

	<p>
		Detailed amendments are listed in the <a href="https://docs.google.com/spreadsheets/d/1cK6sUBa7G-JOkCTudZmMR8LYDDpLe-okgY1zUdmHtZs/edit#gid=1425960152">change log</a>
	</p>

	<p>
		Tips: Don't forget to turn on incognito mode when testing <a href="https://digital-mortgage-prototype.herokuapp.com">digital-mortgage-prototype.herokuapp.com</a>.
	</p>

		<ul><li>In chrome locate the top-right corner of the browser window, and select the Menu option</li>

		<li>Select a New Incognito Window (computer) or New incognito tab (mobile).</li>
		</ul>

	<p><a href="/misc/dialog-trigger">Dialog triggerring control panel</a></p>

	<details>
		<summary class="heading-medium">Baseline prototype</summary>

		<p>
		Detailed amendments are listed in the <a href="https://docs.google.com/a/digital.landregistry.gov.uk/spreadsheets/d/1M3mKHGg5uta_7WSyVqxjuebnN_WnuLFnW64tDKvdJPE/edit?usp=sharing">Baseline change log</a>
		</p>
			<table class="custom_1">
		<tr>
			<th width="20%" class="table_text_black">Version</th>
			<th width="5%" class="table_text_black">Date</th>
			<th width="25%" class="table_text_black">What's new</th>
			<th width="50%" class="table_text_black">What's changed</th>
		</tr>

		<tr>
			<td style="vertical-align: top">
				<h2 class="bold-xsmall">Baseline</h2>
				<br/>
				<h3 class="bold-xsmall"> Multiple Borrowers </h3>
				<a href="/baseline/sign-my-mortgage?session[mode]=first&session[code_input]=asterisks-single&session[verify]=true">First - User signs up for verify - User Signs Mortgage Deed.</a><br><br>
				<a href="/baseline/sign-my-mortgage?session[mode]=second&session[code_input]=asterisks-single&session[verify]=true">Second - Existing Verify user - User views Mortgage deed.</a><br><br>
				<h3 class="bold-xsmall"> Single Borrowers </h3>
				<a href="/baseline/sign-my-mortgage?session[mode]=something-else&session[code_input]=asterisks-single&session[verify]=true">First - User signs up for verify - User signs Mortgage Deed.</a><br><br>
				<a href="/baseline/sign-my-mortgage?session[mode]=fourth-test&session[code_input]=asterisks-single&session[verify]=true">Second  - Existing Verify user - User views Mortgage deed.</a><br><br>
				<br><br>
				<br><br>
			</td>
				<td valign="top"></td>
			<td valign="top">
			<li></li>
			</td>
			<td valign="top">
				<li>Updated logic for single borrower name - Mortgage deed page</li>
			</td>

		</tr>
		</table>
	</details>




	<div class="spacer_20"></div>

	<table class="custom_1">
		<tr>
			<th width="20%" class="table_text_black">Version</th>
			<th width="5%" class="table_text_black">Date</th>
			<th width="25%" class="table_text_black">What's new</th>
			<th width="50%" class="table_text_black">What's changed</th>
		</tr>

    <tr>
      <td style="vertical-align: top">
        <h2 class="bold-xsmall">Digital Mortgage prototype v.6-2 (WIP)</h2>
        <br/>
        <p><a href="version-6-2/login.html">Generic confirmation page</a></p>
        <p><a href="version-6-2a/login.html">Multi borrower journey first signature</a></p>
        <p><a href="version-6-2b/login.html">Multi borrower journey last signature</a></p>
        <p><a href="version-6-2c/login.html">Asynchronous message (submitted for signing)</a></p>
        <td valign="top">Feb '18</td>
      <td valign="top">
        <li>Content updates and removed need for separate 'request authentication page'</li>
      </td>
      <td valign="top">
        <p>Small content changes and combined 'check deed' and 'request authentication' pages folowing user feedback.</p>
        <p>See <a href="https://docs.google.com/spreadsheets/d/1cK6sUBa7G-JOkCTudZmMR8LYDDpLe-okgY1zUdmHtZs/edit#gid=403844769">change log</a> for detailed description of changes</p>
      </td>


		<tr>
			<td style="vertical-align: top">
				<h2 class="bold-xsmall">Digital Mortgage prototype v.6-1 (WIP)</h2>
				<br/>
        <p><a href="version-6-1/email?session[mode]=happy&session[verify]=everythingsfine">Single borrower, happy path</a></p>
        <p><a href="version-6-1/email?session[mode]=verify-service-unavailable&session[verify]=everythingsfine">Verify service not available</a></p>
        <p><a href="version-6-1/email?session[mode]=happybutnotreally&session[verify]=unable-to-match-deed">Unable to match deed</a></p>

<!--		<h3 class="bold-xsmall"> Multiple Borrowers </h3>
				<a href="/version-5-1-2k_b/sign-my-mortgage?session[mode]=first&session[code_input]=asterisks-single&session[verify]=true">First - User signs up for verify - User Signs Mortgage Deed.</a><br><br>
				<a href="/version-5-1-2k_b/sign-my-mortgage?session[mode]=second&session[code_input]=asterisks-single&session[verify]=true">Second - Existing Verify user - User views Mortgage deed.</a><br><br>
				<h3 class="bold-xsmall"> Single Borrowers </h3>
				<a href="/version-5-1-2k_b/sign-my-mortgage?session[mode]=something-else&session[code_input]=asterisks-single&session[verify]=true">First - User signs up for verify - User signs Mortgage Deed.</a><br><br>
				<a href="/version-5-1-2k_b/sign-my-mortgage?session[mode]=fourth-test&session[code_input]=asterisks-single&session[verify]=true">Second  - Existing Verify user - User views Mortgage deed.</a><br><br>
					-->
					<br><br>
			</td>
				<td valign="top">Nov '17</td>
			<td valign="top">
			  <li>Content updates following user research session on 10 November</li>
      </td>
			<td valign="top">
				<p>Small content changes to the 'Identify verified' and 'Mortgage deed signed' pages folowing user feedback on 10 November.</p>
				<p>See <a href="https://docs.google.com/spreadsheets/d/1cK6sUBa7G-JOkCTudZmMR8LYDDpLe-okgY1zUdmHtZs/edit#gid=403844769">change log</a> for detailed description of changes</p>
		  </td>

		</tr>



		<tr>
			<td style="vertical-align: top">
				<h2 class="bold-xsmall">Digital Mortgage prototype v.6 (WIP)</h2>
				<br/>
        <p><a href="version-6/email?session[mode]=happy&session[verify]=everythingsfine">Single borrower, happy path</a></p>
        <p><a href="version-6/email?session[mode]=verify-service-unavailable&session[verify]=everythingsfine">Verify service not available</a></p>
        <p><a href="version-6/email?session[mode]=happybutnotreally&session[verify]=unable-to-match-deed">Unable to match deed</a></p>

<!--		<h3 class="bold-xsmall"> Multiple Borrowers </h3>
				<a href="/version-5-1-2k_b/sign-my-mortgage?session[mode]=first&session[code_input]=asterisks-single&session[verify]=true">First - User signs up for verify - User Signs Mortgage Deed.</a><br><br>
				<a href="/version-5-1-2k_b/sign-my-mortgage?session[mode]=second&session[code_input]=asterisks-single&session[verify]=true">Second - Existing Verify user - User views Mortgage deed.</a><br><br>
				<h3 class="bold-xsmall"> Single Borrowers </h3>
				<a href="/version-5-1-2k_b/sign-my-mortgage?session[mode]=something-else&session[code_input]=asterisks-single&session[verify]=true">First - User signs up for verify - User signs Mortgage Deed.</a><br><br>
				<a href="/version-5-1-2k_b/sign-my-mortgage?session[mode]=fourth-test&session[code_input]=asterisks-single&session[verify]=true">Second  - Existing Verify user - User views Mortgage deed.</a><br><br>
					-->
					<br><br>
			</td>
				<td valign="top">Oct '17</td>
			<td valign="top">
			  <li> Design and content refresh leading up to and beyond GDS beta-assessment</li>
      </td>
			<td valign="top">
				<li>see <a href="https://docs.google.com/spreadsheets/d/1cK6sUBa7G-JOkCTudZmMR8LYDDpLe-okgY1zUdmHtZs/edit#gid=403844769">change log</a> for detailed description of changes</li>
		  </td>

		</tr>

		<tr>
			<td style="vertical-align: top">
				<h2 class="bold-xsmall">v5.1.2k_b - Accessibility improvements</h2>
				<br/>
				<h3 class="bold-xsmall"> Multiple Borrowers </h3>
				<a href="/version-5-1-2k_b/sign-my-mortgage?session[mode]=first&session[code_input]=asterisks-single&session[verify]=true">First - User signs up for verify - User Signs Mortgage Deed.</a><br><br>
				<a href="/version-5-1-2k_b/sign-my-mortgage?session[mode]=second&session[code_input]=asterisks-single&session[verify]=true">Second - Existing Verify user - User views Mortgage deed.</a><br><br>
				<h3 class="bold-xsmall"> Single Borrowers </h3>
				<a href="/version-5-1-2k_b/sign-my-mortgage?session[mode]=something-else&session[code_input]=asterisks-single&session[verify]=true">First - User signs up for verify - User signs Mortgage Deed.</a><br><br>
				<a href="/version-5-1-2k_b/sign-my-mortgage?session[mode]=fourth-test&session[code_input]=asterisks-single&session[verify]=true">Second  - Existing Verify user - User views Mortgage deed.</a><br><br>
					<br><br>
			</td>
				<td valign="top"></td>
			<td valign="top">
			<li> Updates - Following research findings from DAC - Digital accessibility centre - 7th March 2017, v1.0</li>
			<li> US661</li>

			</td>
			<td valign="top">
				<li>DAC-USER- LV-GT-T4-01 - The terms of use link should be display away from the check box hotspot for checkbox control</li>
				<li>DAC-USER-SRVO-JP- T1-01 - Ensure links to non-HTML documents contain the file size within the link text</li>
				<li>DAC-USER- LV-AW-T1- 04- Removal of use of Italics as many user groups find Italic text difficult to read. The colour of the links do pass WCAG 2.0 and the 'Government Service Design Manuals’ suggested colours</li>
        <li>DAC-USER- LV-AW-T1- 07 - Improvement of colour contrast on PDF border to aid in visibility of  pdf document for low vision users, darker color also helps users who invert</li>
			</td>

		</tr>
























		<tr>
			<td style="vertical-align: top">
				<h2 class="bold-xsmall">v5.1.2k</h2>
				<br/>
				<h3 class="bold-xsmall"> Multiple Borrowers </h3>
				<a href="/version-5-1-2k/sign-my-mortgage?session[mode]=first&session[code_input]=asterisks-single&session[verify]=true">First - User signs up for verify -
				User Signs Mortgage Deed.</a><br><br>
				<a href="/version-5-1-2k/sign-my-mortgage?session[mode]=second&session[code_input]=asterisks-single&session[verify]=true">Second - Existing Verify user - User views Mortgage deed.</a><br><br>
				<h3 class="bold-xsmall"> Single Borrowers </h3>
				<a href="/version-5-1-2k/sign-my-mortgage?session[mode]=something-else&session[code_input]=asterisks-single&session[verify]=true">First - User signs up for verify - User signs Mortgage Deed.</a><br><br>
				<a href="/version-5-1-2k/sign-my-mortgage?session[mode]=fourth-test&session[code_input]=asterisks-single&session[verify]=true">Second  - Existing Verify user - User views Mortgage deed.</a><br><br>
				<h3 class="bold-xsmall"> What happens when </h3>
				<a href="/version-5-1-2k/sign-my-mortgage?session[mode]=fifth-effective&session[code_input]=asterisks-single&session[verify]=true">Deed made effective - Single Borrower</a>
				<br><br>
				<a href="/version-5-1-2k/sign-my-mortgage?session[mode]=sixth-effective&session[code_input]=asterisks-single&session[verify]=true">Deed made effective - Multiple Borrowers</a>
				<br><br>
				<a href="/version-5-1-2k/sign-my-mortgage?session[mode]=first&session[code_input]=asterisks-single&session[verify]=non-exact-match">Verify - non exact match</a>
				<br><br>
				<h3 class="bold-xsmall"> Authentication code inputs</h3>
				<a href="/version-5-1-2k/sign-my-mortgage?session[mode]=first&session[code_input]=asterisks-single&session[verify]=true">Asterisks, single field</a>
				<br><br>
				<a href="/version-5-1-2k/sign-my-mortgage?session[mode]=first&session[code_input]=asterisks-double&session[verify]=true">Asterisks, double field</a>
				<br><br>
				<a href="/version-5-1-2k/sign-my-mortgage?session[mode]=first&session[code_input]=hashes-single&session[verify]=true">Hashes, single field</a>
				<br><br>
				<a href="/version-5-1-2k/sign-my-mortgage?session[mode]=first&session[code_input]=hashes-double&session[verify]=true">Hashes, double field</a>

				<br><br>
			</td>
				<td valign="top"></td>
			<td valign="top">
			<li> Updates - Following research findings for feb 27th Lab</li>





			</td>
			<td valign="top">
				<li>US553 - Updates look and feel to tick box on NAA agreement</li>
				<li>US553 - Updates to content on Your information for NAA agreement including error message</li>
				<li>Update to content on startpage - for GOV.UK Verify which removes the repeat of verify</li>


			</td>

		</tr>




		<tr>
			<td style="vertical-align: top">
				<h2 class="bold-xsmall">v5.1.2j</h2>
				<br/>
				<h3 class="bold-xsmall"> Multiple Borrowers </h3>
				<a href="/version-5-1-2j/sign-my-mortgage?session[mode]=first&session[code_input]=asterisks-single&session[verify]=true">First - User signs up for verify - User Signs Mortgage Deed.</a><br><br>
				<a href="/version-5-1-2j/sign-my-mortgage?session[mode]=second&session[code_input]=asterisks-single&session[verify]=true">Second - Existing Verify user - User views Mortgage deed.</a><br><br>
				<h3 class="bold-xsmall"> Single Borrowers </h3>
				<a href="/version-5-1-2j/sign-my-mortgage?session[mode]=something-else&session[code_input]=asterisks-single&session[verify]=true">First - User signs up for verify - User signs Mortgage Deed.</a><br><br>
				<a href="/version-5-1-2j/sign-my-mortgage?session[mode]=fourth-test&session[code_input]=asterisks-single&session[verify]=true">Second  - Existing Verify user - User views Mortgage deed.</a><br><br>
				<h3 class="bold-xsmall"> What happens when </h3>
				<a href="/version-5-1-2j/sign-my-mortgage?session[mode]=fifth-effective&session[code_input]=asterisks-single&session[verify]=true">Deed made effective - Single Borrower</a>
				<br><br>
				<a href="/version-5-1-2j/sign-my-mortgage?session[mode]=sixth-effective&session[code_input]=asterisks-single&session[verify]=true">Deed made effective - Multiple Borrowers</a>
				<br><br>
				<a href="/version-5-1-2j/sign-my-mortgage?session[mode]=first&session[code_input]=asterisks-single&session[verify]=non-exact-match">Verify - non exact match</a>
				<br><br>
				<h3 class="bold-xsmall"> Authentication code inputs</h3>
				<a href="/version-5-1-2j/sign-my-mortgage?session[mode]=first&session[code_input]=asterisks-single&session[verify]=true">Asterisks, single field</a>
				<br><br>
				<a href="/version-5-1-2j/sign-my-mortgage?session[mode]=first&session[code_input]=asterisks-double&session[verify]=true">Asterisks, double field</a>
				<br><br>
				<a href="/version-5-1-2j/sign-my-mortgage?session[mode]=first&session[code_input]=hashes-single&session[verify]=true">Hashes, single field</a>
				<br><br>
				<a href="/version-5-1-2j/sign-my-mortgage?session[mode]=first&session[code_input]=hashes-double&session[verify]=true">Hashes, double field</a>
				<!--a href="/version-5-1-2i/sign-my-mortgage?session[mode]=Borrower-Reference-a">Borrower Reference - Single Borrower</a-->
				<br><br>
			</td>
				<td valign="top"></td>
			<td valign="top">
			<li> Updates - Following research findings for January 20th Lab, US397, GDS kit prototype kit upgrade, functionality to activate dialog
			/ inpage response for research labs, Borrower reference journey if imperfect match is created</li>




			</td>
			<td valign="top">
				<li>Changes for testing US397 as a dialog, or an inpage display with three seperate messages</li>
				<li>Added text agreed with ICO on request of S Ewings after meeting on 1/10/2017</li>
				<li>View / Sign mortgage tick box now refers to terms of use rather than terms and conditions to be in relevance to terms of use in NAAA as agreed with SE / ME 1/10/2017</li>
				<li>NAA agreement - updated telephone number to reflect CC telephone number referenced in help documentation as agreed with SE / ME 1/10/2017</li>
				<li>Thank you page now contains a reference to the other borrower if using the multiple borrower scenario as agreed with SE / ME 1/10/2017</li>
				<li>Removed reference to borrower reference being sent in email as this may not be correct because the borrower reference may be sent by other means which causes problems as lab research states that borrowers want to know where to find this information -  as agreed with SE / ME 1/10/2017</li>
				<li> Removed reference to Identity documentation requirements which users requested as part of lab research testing, as the DM system can't identify if an establish user returns through verify to alter text programmatically.
				as agreed with SE / ME 1/10/2017</li>
				<li>Added into the prototype a borrower reference page, to test a borrower reference scenario out</li>
				<li> Deed effective- Changed text to include a hyperlink in an appropriate place to the Official Copy
				application form OC2 (https://www.gov.uk/government/publications/official-copies-of-documents-registration-oc2), “Finish” spelling mistake have a capital F?</li>
			</td>

		</tr>



		<tr>
			<td style="vertical-align: top">
				<h2 class="bold-xsmall">v5.1.2i</h2>
				<br/>
				<h3 class="bold-xsmall"> Multiple Borrowers </h3>
				<a href="/version-5-1-2i/sign-my-mortgage?session[mode]=first">First - User signs up for verify - User Signs Mortgage Deed.</a><br><br>
				<a href="/version-5-1-2i/sign-my-mortgage?session[mode]=second">Second - Existing Verify user - User views Mortgage deed.</a><br><br>
				<h3 class="bold-xsmall"> Single Borrowers </h3>
				<a href="/version-5-1-2i/sign-my-mortgage?session[mode]=something-else">First - User signs up for verify - User signs Mortgage Deed.</a><br><br>
				<a href="/version-5-1-2i/sign-my-mortgage?session[mode]=fourth-test">Second  - Existing Verify user - User views Mortgage deed.</a><br><br>
				<h3 class="bold-xsmall"> What happens when </h3>
				<a href="/version-5-1-2i/sign-my-mortgage?session[mode]=fifth-effective">Deed made effective - Single Borrower</a>
				<br><br>
				<a href="/version-5-1-2i/sign-my-mortgage?session[mode]=sixth-effective">Deed made effective - Multiple Borrowers</a>
				<br><br>
				<!--a href="/version-5-1-2i/sign-my-mortgage?session[mode]=Borrower-Reference-a">Borrower Reference - Single Borrower</a-->
				<br><br>
			</td>
				<td valign="top"></td>
			<td valign="top">
			<li> Updates - following research findings for December 15th Lab</li>



			</td>
			<td valign="top">
				<li>23122016 -Added in the borrower reference supplied to you by the conveyancer.
			You may be asked for your borrower reference number (sent in the email inviting you to use this service). -
			Based on prior research lab findings that users do not understand why they may not have to use the borrower reference.
			</li>
				<li>Added in dynamic behaviour to distinguish between text based on mutiple and a single borrowers on thank you page for consistency.</li>
				<li>US363/US379  Added in feedback form</li>
				<li>US415 Second - User View's Mortgage deed added finish button on mortage deed with logout page</li>
				<li>US415 Second - Deed effective added finish button</li>
				<li>New NAA Agreement with updated version from Joy</li>
			</td>

		</tr>


		<tr>
			<td style="vertical-align: top">
				<h2 class="bold-xsmall">v5.1.2h</h2>
				<a href="/version-5-1-2h/sign-my-mortgage?session[mode]=first">Multiple Borrowers first time user of verify.</a><br><br>
				<a href="/version-5-1-2h/sign-my-mortgage?session[mode]=second">Multiple Borrowers Second time logged in user of verify.</a><br><br>
				<a href="/version-5-1-2h/sign-my-mortgage?session[mode]=something-else">Single borrowers - first time only</a><br><br>
				<a href="/version-5-1-2h/sign-my-mortgage?session[mode]=fourth-test">Single borrowers - second time only</a><br><br>
			</td>
				<td valign="top"></td>
			<td valign="top">
			<li> Updates following research findings for December 2nd/3rd</li>


			</td>
			<td valign="top">
				<li>US430 - help service design aspects still to be agreed</li>
				<li>Link the deed to email / text services</li>
				<li>Prototype tested with mobile devices Android and Iphone</li>
				<li>Content change to start page</li>
			</td>

		</tr>

		<tr>
			<td style="vertical-align: top">
				<h2 class="bold-xsmall">v5.1.2g</h2>
				<a href="/version-5-1-2g/sign-my-mortgage?session[mode]=first">Multiple Borrowers first time user of verify.</a><br><br>
				<a href="/version-5-1-2g/sign-my-mortgage?session[mode]=second">Multiple Borrowers Second time logged in user of verify.</a><br><br>
				<a href="/version-5-1-2g/sign-my-mortgage?session[mode]=something-else">Single borrowers - first time only</a><br><br>
				<a href="/version-5-1-2g/sign-my-mortgage?session[mode]=fourth-test">Single borrowers - second time only</a><br><br>
			</td>
				<td valign="top"></td>
			<td valign="top">
			<li> Updates following research findings for November</li>


			</td>
			<td valign="top">
				<li>S377 - Change wording to Borrower journey - Contact Conveyancer</li>
				<li> After discussion with Joy each second login through verify the tick box will remain unticked to protect the deed.
				User must agree T & C's to view</li>
			</td>

		</tr>






		<tr>
			<td style="vertical-align: top">
				<h2 class="bold-xsmall">v5.1.2f</h2>
				<a href="/version-5-1-2f/sign-my-mortgage?session[mode]=first">First time user of verify, signing with multiple borrowers.</a><br><br>
				<a href="/version-5-1-2f/sign-my-mortgage?session[mode]=second">Second time existing user of verify, signing with multiple borrowers.</a><br><br>
				<a href="/version-5-1-2f/sign-my-mortgage?session[mode]=something-else">Working Status: Not used in Lab</a><br><br>
			</td>
				<td valign="top"></td>
			<td valign="top">
			<li> Updates following research findings for October</li>

			</td>
			<td valign="top">
				<li>Removed text based steps on identity verified page (request by SE), Removed static Conveyancer name (SE), Removed text for multiple borrowers (request by SE), Added in dynamic placeholders for conveyancer / multiple borrowers.
				Prototype now contains 'modes to reflect multiple borrower or single borrower journey's which can also be created for different scenario's. Added in relevant PDF document where one borrower has signed, second awaiting signature.
				Added in relevant PDF Document for Multiple Borrowers so both Borrowers have signed</li>

			</td>
			<td valign="top">
				<ul>

				</ul>
			</td>
		</tr>

		<tr>
			<td style="vertical-align: top"><a href="/version-5-1-2e/sign-my-mortgage">v5.1.2e</a></td>
			<td valign="top"></td>
			<td valign="top">
				<li> Updates following research findings for September</li>
			</td>
			<td valign="top">
				<ul>
					Improvements to wording, Session added in to NAA tick box so tick stays in the box no tick but click on button causes error message, SMS Code page updated asthetics and wording,
					Link to LR contact page to replace info@ due to usability issues with some test subjects.
				</ul>
			</td>
		</tr>


			<tr>
			<td style="vertical-align: top"><a href="/version-5-1-2d/sign-my-mortgage">v5.1.2d</a></td>
			<td valign="top"></td>
			<td valign="top">
				<li> Updated</li>
			</td>
			<td valign="top">
				<li>Update US361 - Refer to borrower reference on landing page </li>
			</td>
		</tr>



		<tr>
			<td style="vertical-align: top"><a href="/version-5-1-2c/sign-my-mortgage">v5.1.2c</a></td>
			<td valign="top"></td>
			<td valign="top">
				<li> Updated</li>
			</td>
			<td valign="top">
				<li>Updates following research findings for August </li>
			</td>
		</tr>

		<tr>
			<td style="vertical-align: top"><a href="/version-5-1-2b/sign-my-mortgage">v5.1.2b</a></td>
			<td valign="top"></td>
			<td valign="top">
				<li> Updated</li>
			</td>
			<td valign="top">
				<li>enter-authentication-code with warning text to be inline with production 02</li>
			</td>
		</tr>



		<tr>
			<td style="vertical-align: top"><a href="/version-5-1-2a/sign-my-mortgage">v5.1.2a</a></td>
			<td valign="top"></td>
			<td valign="top">
				<li> User tests - NAA, T & C's</li>
			</td>
			<td valign="top">
				<li>User tests - Full verify flow</li>
			</td>
		</tr>


		<tr>
			<td style="vertical-align: top"><a href="/version-5-1/sign-my-mortgage">v5.1</a></td>
			<td valign="top"></td>
			<td valign="top">
				<li>Addition of NAA point and NAA page</li>
			</td>
			<td valign="top">
				<li>Minimised the length of the verify flow</li>
			</td>
		</tr>
	</table>

	<div class="spacer_50"></div>







	<hr>


	<details>
		<summary class="heading-medium">Digital mortgage prototypes v4.6 - deprecated</summary>
	<h1 class="heading-xlarge">Digital mortgage prototypes v4.6</h1>

	<p>
		If you want to see a list of changes for this version of each of the following prototypes
		<a href="https://docs.google.com/spreadsheets/d/1YuBWmAsot8kfKt5eYWoEZiSlSvh7Aa5RQdu6bMG_tHs/edit#gid=0">click here</a>
	</p>

	<details>
		<summary class="heading-medium">I want to see the end vision for the service</summary>
		<ul>
      <li><a href="/service_vision">Prototype for service vision</a></li>
    </ul>
	</details>

	<details>
		<summary class="heading-medium">I want to see the user research prototype</summary>
		<ul>
			<li><a href="/user_research">Prototype for user research</a></li>
		</ul>
	</details>

	<details>
		<summary class="heading-medium">I want to see prototypes for what is in development</summary>
		<ul>
			<li><a href="/future_sprints">Prototype for future sprints</a></li>
			<li><a href="/current_sprint">Prototype for current sprint</a></li>
		</ul>
	</details>

	<details>
		<summary class="heading-medium">I want to see previous prototype versions</summary>
		<div class="text">
			<p>
				You can view the code for previous versions of the protoype by switching to
				the appropriate branch on github. If you would like to see it running then
				speak to your friendly designer =)
			</p>
		</div>
	</details>

	</details>

</main>

{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
{% endblock %}
